td {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    }    
   table {
        width: 35px;
        border-spacing: 0px;
  border-collapse: collapse;
   }
       caption {
        font-size: 50px;
               }   
th{
    background: #469400;
}
th:nth-child(1) { background-color: #01c01a; }
tr:nth-child(1) { background-color: #33b400; }